/* Place CSS styles here */
body {
  background-color: rgb(236, 200, 253);
  background-size: 1400px;
  background-repeat: no-repeat;
}

                          /*MAIN*/
/*HEADER + MAIN BTNS*/
.header-wrapper {
  -webkit-text-size-adjust: 100%;
}
.header {
  display: inline-block;
  -webkit-text-size-adjust: 100%;
}
.main-nav {
  text-align: right;
  position: absolute;
  top: 65px;
  right: 40px;
  bottom: 20px;
}
.mainbtn {
  border: 2px solid;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  margin: 6px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.mainbtn:hover {
  background-color: rgb(241, 0, 177);
}

/*HOME INTRO*/
.intro-wrapper {
font-size: 30px;
font-family: 'Montserrat', sans-serif;
margin-left: 10px;
}
.intro-heading, .head-intro {
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color:   rgb(241, 0, 177);
-webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0   rgb(241, 0, 177),
  -1px -1px 0   rgb(241, 0, 177),  
   1px -1px 0   rgb(241, 0, 177),
   -1px 1px 0   rgb(241, 0, 177),
    1px 1px 0   rgb(241, 0, 177);
}

/*PAGE BTNS*/
.page-wrapper {
-webkit-text-size-adjust: 100%;
padding: 7%;
}
.page-nav {
display: flex;
justify-content: center;
}
.pagebtn {
border: 2px solid;
border-radius: 5px;
color: white;
padding: 16px 32px;
text-decoration: none;
display: inline-block;
font-size: 45px;
font-family: 'Oswald', sans-serif;
margin: 6px 20px;
transition-duration: 0.4s;
cursor: pointer;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:  white;
-webkit-text-fill-color:  rgb(241, 0, 177);
}
.pagebtn:hover {
background-color: rgb(241, 0, 177);
}

/*LINK HIGHLIGHT*/
a:hover {
-webkit-filter: brightness(1.06);
filter: brightness(1.06);
}
/*
main{
padding-bottom: 12%;
padding-left: 1%;
padding-right: 1%;
}
.grid {
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr 1.5rem 1fr;
grid-template-columns: repeat(6, 1fr);
grid-row-gap: 1.5rem;
grid-column-gap: 1.5rem;
/margin: auto;
}
.project-grid {
-ms-grid-column: 1;
grid-column-start: 1;
-ms-grid-column-span: 7;
grid-column-end: span 7;
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
grid-template-columns: repeat(6, 1fr);
grid-row-gap: 15rem;
grid-column-gap: 2rem;
margin: 6rem auto;
border: 2px solid;
border-radius: 5px;
color: white;
}
a:hover {
-webkit-filter: brightness(1.09);
filter: brightness(1.09);
}
.project-grid a {
-ms-grid-column-span: 2;
grid-column: span 2;
min-height: 56.25%;
text-decoration: none;
}
.project-grid a h1 {
font-size: 2.15rem;
margin: 1.25rem 0;
font-family: 'Mulish', sans-serif;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:  white;
-webkit-text-fill-color:  rgb(241, 0, 177);
}
.project-grid a p {
font-size: 1.5rem;
color: lightgrey;
font-family: 'Mulish', sans-serif;
}
.project-grid a img {
margin-bottom: 0;
-o-object-fit: cover;
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 5px;
}
*/

/*NEXT/PREVIOUS BUTTONS*/
.np-container {
padding-left: 1%;
padding-right: 1%;
padding-top: 10%;
-webkit-text-size-adjust: 100%;
}
.np-left {
float: left;
width: 33.333%;
}
.heart-center {
display: inline-block;
width: 33.333%; 
text-align: center;
}
.np-right {
float: right;
width: 33.333%;
}
.ani, .digi, .draw, .gd, .photo, .type {
color: rgb(241, 0, 177);
}
.top-pre, .top-next {
font-family: 'Oswald', sans-serif;
font-size: 15px;
letter-spacing: 2px;
}
.top-next, .bottom-next, .digi {
text-align: right;
color: rgb(241, 0, 177);
}
.top-pre, .bottom-pre {
text-align: left;
}
.bottom-pre, .bottom-next {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 30px;
}

/*SCROLL TO TOP BUTTON*/
:root {
scroll-behavior: smooth;
}

/*body {
  margin: 1rem;
}*/

.stt {
position: fixed;
right: 1rem;
bottom: 1rem;
width: 3rem;
height: 3rem;
border-radius: 50%;
background:  rgb(255, 169, 241) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
box-shadow: 0 0.25rem 0.5rem 0 pink;
opacity: 0.7;
}

.stt:hover {
opacity: 0.8;
}

.stt:focus {
opacity: 0.9;
}

.stt:active {
opacity: 1;
}


:root {
--primary-color: rgb(255, 169, 241);
}

/*FOOTER*/
.footer-wrapper{
  padding-top: 150px;
  max-width: auto;
  width: auto;
  height: 150px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
.social-links {
  display: flex;
  gap: 10px;
}
.social-link-image {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-size-adjust: 100%;
}

/*COPYRIGHT + NAME*/
.footer{
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  padding: 4%;
}
.copyright {
padding-top: 2%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

                    /*PAGES*/
/*ANIMATION*/
.ani-gallery {
display: grid;
grid-gap: 20px;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.ani-item {
padding: 4%;
}
.ani-titles {
color: white;
font-family: 'Montserrat', sans-serif;
margin-left: 3%;
}
.anivid-gallery {
display: flex;
justify-content: center;
}
.anivid-item {
padding: 4%;
}
.anivid-titles {
color: white;
font-family: 'Montserrat', sans-serif;
margin-left: 10%;
font-size: large;
}

/*DIGITAL ILLUSTRATIONS*/
/*DRAWING*/
/*GRAPHIC DESIGN*/
/*PHOTOGRAPHY*/
.parkTitle {
padding: 2%;
color: white;
font-family: 'Montserrat', sans-serif;
background-color: rgb(255, 169, 241);
}
.parkGallery1,
.parkGallery2,
.parkGallery3 {
padding: 2%;
}
.parkGallery2 {
display: flex;
justify-content: center;
}

/*TYPOGRAPHY*/
/**/