/* Place CSS styles here */
body {
  background-color: rgb(236, 200, 253);
  background-size: 1400px;
  /background-image: url(../img/graffiti\ heart\ border.png);
  background-postion: center;
  background-repeat: no-repeat;
}

                          /*MAIN*/
/*HEADER + MAIN BTNS*/
.header-wrapper {
  -webkit-text-size-adjust: 100%;
}
.header {
  display: inline-block;
  -webkit-text-size-adjust: 100%;
}
.logo:hover {
  filter: drop-shadow(4px 8px 8px rgb(241, 0, 177));
}
.main-nav {
  text-align: right;
  position: absolute;
  top: 65px;
  right: 40px;
  bottom: 20px;
}
.mainbtn {
  border: 2px solid;
  border-radius: 5px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  margin: 6px 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.mainbtn:hover {
  background-color: rgb(241, 0, 177);
  filter: drop-shadow(4px 8px 8px rgb(241, 0, 177));
}

/*HOME INTRO*/
.intro-wrapper {
font-size: 30px;
font-family: 'Montserrat', sans-serif;
margin-left: 20px;
margin-top: 20%;
}
.intro-heading, .head-intro {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   rgb(255, 169, 241);
-webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0   rgb(255, 169, 241),
  -1px -1px 0   rgb(255, 169, 241),  
   1px -1px 0   rgb(255, 169, 241),
   -1px 1px 0   rgb(255, 169, 241),
    1px 1px 0   rgb(255, 169, 241);
}

/*WELCOME*/
.welcomeWrapper {
  margin-left: 4%;
  margin-right: 4%;
  padding: 2%;
}
.welcome {
  padding: 2%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgb(241, 0, 177);
  border-radius: 15px;
}


/*PAGE BTNS*/
.page-wrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 80% 70%;
  margin-top: 20px;
  margin-left: 20%;
}
.columnBtn {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowBtn::after {
  content: "";
  display: table;
  clear: both;
}
.pagebtn {
border: 2px solid;
border-radius: 5px;
color: white;
padding: 16px 32px;
text-decoration: none;
display: inline-block;
font-size: 35px;
font-family: 'Oswald', sans-serif;
margin: 6px 10px;
transition-duration: 0.4s;
cursor: pointer;
}
.pagebtn:hover {
background-color: rgb(241, 0, 177);
filter: drop-shadow(4px 8px 8px rgb(241, 0, 177));
}


/*NEXT/PREVIOUS BUTTONS*/
.npContainer {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 15%;
  -webkit-text-size-adjust: 100%;
}
.columnN {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.rowN::after {
  content: "";
  display: table;
  clear: both;
}
.ani, .digi, .draw, .gd, .photo, .type {
  color: rgb(241, 0, 177);
  }
.heart-center {
  margin-left: 140px;
}
  .top-pre, .top-next {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  }
.top-next, .bottom-next, .digi {
  text-align: right;
  color: rgb(241, 0, 177);
  }
.top-pre, .bottom-pre {
  text-align: left;
  }
.bottom-pre, .bottom-next {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  }


/*SCROLL TO TOP BUTTON*/
:root {
scroll-behavior: smooth;
}

/*body {
  margin: 1rem;
}*/

.stt {
position: fixed;
right: 1rem;
bottom: 1rem;
width: 3rem;
height: 3rem;
border-radius: 50%;
background:  rgb(255, 169, 241) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
box-shadow: 0 0.25rem 0.5rem 0 rgb(241, 0, 177);
opacity: 0.7;
}

.stt:hover {
opacity: 0.8;
}

.stt:focus {
opacity: 0.9;
}

.stt:active {
opacity: 1;
}


:root {
--primary-color: rgb(255, 169, 241);
}

/*FOOTER*/
.footer-wrapper{
  padding-top: 150px;
  max-width: auto;
  width: 100%;
  height: 80%;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  display: grid;
  grid-template-columns: 100% 100% 100%;
}
.footer-logo {
  padding-top: 1%;
}
.social-links {
  display: flex;
  gap: 10px;
  padding-top: 2%;
}
.social-link:hover {
  filter: drop-shadow(4px 8px 8px rgb(149, 0, 241));
}
.social-link-image {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(236, 200, 253);
}
/*COPYRIGHT + NAME*/
.footer{
  display: flex;
  justify-content: space-between;
  color: rgb(241, 0, 177);
  padding: 4%;
  background-color: white;
}
.copyright {
padding-top: 2%;
}
.cpName {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

/*ABOUT PAGE*/
.aboutTitle {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:   white;
  -webkit-text-fill-color: white;
  color: white;
  text-shadow:
      3px 3px 0    rgb(255, 169, 241),
    -1px -1px 0    rgb(255, 169, 241),  
     1px -1px 0    rgb(255, 169, 241),
     -1px 1px 0    rgb(255, 169, 241),
      1px 1px 0    rgb(255, 169, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
  padding: 2%;
  text-align: center;
}
.aboutWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 1.5%;
  margin-top: 20px;
  /display: grid;
  /grid-template-columns: 110%;
}
.columnA {
  float: left;
  width: 33.33%;
}
.rowA::after {
  content: "";
  display: table;
  clear: both;
}
.pageAbout {}
.aboutPics {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 35% 35% 35%;
  grid-template-columns: 105% 125% 130%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.aboutPics2 {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 25% 25% 25%;
  grid-template-columns: 70% 160% 130%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.about {}
.about1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-top: 20px;
}
.about2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.about1, .about2 {
  /margin-left: 12%;
  /margin-right: 10%;
  text-align: center;
  line-height: 1.8
}

                    /*PAGES*/
/*ANIMATION*/

.column,
.aColumn {
  float: left;
  width: 50%;
  padding: 10px;
}
/* Clear floats after the columns */
.row:after,
.aRow::after {
  content: "";
  display: table;
  clear: both;
}
.column3 {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row3::after {
  content: "";
  display: table;
  clear: both;
}
* {
  box-sizing: border-box;
}

.aGallery {
  display: grid;
  grid-template-columns: 35% 25%;
  margin-left: 4%;
  margin-top: 50px;
}
.aTitle {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:   white;
  -webkit-text-fill-color: white;
  color: white;
  text-shadow:
      3px 3px 0    rgb(255, 169, 241),
    -1px -1px 0    rgb(255, 169, 241),  
     1px -1px 0    rgb(255, 169, 241),
     -1px 1px 0    rgb(255, 169, 241),
      1px 1px 0    rgb(255, 169, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    padding: 0.5%;
}
.aSub {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:   rgb(255, 169, 241);
  -webkit-text-fill-color: rgb(255, 169, 241);
  color: rgb(255, 169, 241);
  text-shadow:
      3px 3px 0   rgb(241, 0, 177),
    -1px -1px 0   rgb(241, 0, 177),  
     1px -1px 0   rgb(241, 0, 177),
     -1px 1px 0   rgb(241, 0, 177),
      1px 1px 0   rgb(241, 0, 177);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-bottom: 4px;
}
.avTitle {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:   white;
  -webkit-text-fill-color: white;
  color: white;
  text-shadow:
      3px 3px 0    rgb(255, 169, 241),
    -1px -1px 0    rgb(255, 169, 241),  
     1px -1px 0    rgb(255, 169, 241),
     -1px 1px 0    rgb(255, 169, 241),
      1px 1px 0    rgb(255, 169, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 0.5%;
}
.aVideo {
  margin-right: 40%;
  margin-top: 5%
  padding: 0.5%;
}


/*DIGITAL ILLUSTRATIONS*/
.natureGallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}
.natureImage {
  padding: 4%;
}
.natureTitle {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:   white;
  -webkit-text-fill-color: white;
  color: white;
  text-shadow:
      3px 3px 0    rgb(255, 169, 241),
    -1px -1px 0    rgb(255, 169, 241),  
     1px -1px 0    rgb(255, 169, 241),
     -1px 1px 0    rgb(255, 169, 241),
      1px 1px 0    rgb(255, 169, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 0.5%;
}


/*DRAWING*/
.drawingGallery1 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.drawingGallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.drawingImage {
  padding: 4%;
}
.drawingTitle {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color:   white;
  -webkit-text-fill-color: white;
  color: white;
  text-shadow:
      3px 3px 0    rgb(255, 169, 241),
    -1px -1px 0    rgb(255, 169, 241),  
     1px -1px 0    rgb(255, 169, 241),
     -1px 1px 0    rgb(255, 169, 241),
      1px 1px 0    rgb(255, 169, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding: 0.5%;
}


/*GRAPHIC DESIGN*/
.elephantTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   white;
-webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0    rgb(255, 169, 241),
  -1px -1px 0    rgb(255, 169, 241),  
   1px -1px 0    rgb(255, 169, 241),
   -1px 1px 0    rgb(255, 169, 241),
    1px 1px 0    rgb(255, 169, 241);
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  padding: 0.5%;
}
.elephantDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

.elephantWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.columnE {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnE2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowE::after {
  content: "";
  display: table;
  clear: both;
}
.eTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   rgb(255, 169, 241);
-webkit-text-fill-color: rgb(255, 169, 241);
color: rgb(255, 169, 241);
text-shadow:
    3px 3px 0   rgb(241, 0, 177),
  -1px -1px 0   rgb(241, 0, 177),  
   1px -1px 0   rgb(241, 0, 177),
   -1px 1px 0   rgb(241, 0, 177),
    1px 1px 0   rgb(241, 0, 177);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 4px;
}
.eSub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.elephant {
  padding: 10%;
  margin-left: 100%;
}

.elephant2Wrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 35% 35%;
  margin-top: 20px;
}
.pageElephant {
  margin-left: 20%;
}
.elephantPics {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 35% 35% 35%;
  grid-template-columns: 130% 120% 130%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.elephantPics2 {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 25% 25% 25%;
  grid-template-columns: 130% 120% 130%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.ellies {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
}


.hawaiiTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   white;
-webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0    rgb(255, 169, 241),
  -1px -1px 0    rgb(255, 169, 241),  
   1px -1px 0    rgb(255, 169, 241),
   -1px 1px 0    rgb(255, 169, 241),
    1px 1px 0    rgb(255, 169, 241);
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  padding: 0.5%;
}
.hawaiiDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

.hawaiiWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.columnH {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnH2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowH::after {
  content: "";
  display: table;
  clear: both;
}
.hTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   rgb(255, 169, 241);
-webkit-text-fill-color: rgb(255, 169, 241);
color: rgb(255, 169, 241);
text-shadow:
    3px 3px 0   rgb(241, 0, 177),
  -1px -1px 0   rgb(241, 0, 177),  
   1px -1px 0   rgb(241, 0, 177),
   -1px 1px 0   rgb(241, 0, 177),
    1px 1px 0   rgb(241, 0, 177);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 4px;
}
.hSub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.hawaii {
  margin-left: 100%;
}


.tutTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   white;
-webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0    rgb(255, 169, 241),
  -1px -1px 0    rgb(255, 169, 241),  
   1px -1px 0    rgb(255, 169, 241),
   -1px 1px 0    rgb(255, 169, 241),
    1px 1px 0    rgb(255, 169, 241);
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  padding: 0.5%;
}
.tutDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

.tutWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.columnT {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnT2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowT::after {
  content: "";
  display: table;
  clear: both;
}
.tTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   rgb(255, 169, 241);
-webkit-text-fill-color: rgb(255, 169, 241);
color: rgb(255, 169, 241);
text-shadow:
    3px 3px 0   rgb(241, 0, 177),
  -1px -1px 0   rgb(241, 0, 177),  
   1px -1px 0   rgb(241, 0, 177),
   -1px 1px 0   rgb(241, 0, 177),
    1px 1px 0   rgb(241, 0, 177);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 4px;
}
.tSub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.tut {
  padding: 10%;
  padding-left: 60%;
}
.tut2Wrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 40% 35%;
}
.pageTut {
  margin-left: 20%;
}
.tutPics {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 35% 35% 35%;
  grid-template-columns: 150% 150% 150%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.tutPics2 {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 35% 35% 35%;
  grid-template-columns: 150% 150% 150%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.king {
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  transition: transform .2s;
  margin: 25px; auto;
}
.king:hover{
  transform:scale(2);
}


.moodTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   white;
-webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0    rgb(255, 169, 241),
  -1px -1px 0    rgb(255, 169, 241),  
   1px -1px 0    rgb(255, 169, 241),
   -1px 1px 0    rgb(255, 169, 241),
    1px 1px 0    rgb(255, 169, 241);
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  padding: 0.5%;
}
.moodDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

.moodWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.columnM {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnM2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowM::after {
  content: "";
  display: table;
  clear: both;
}
.mTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   rgb(255, 169, 241);
-webkit-text-fill-color: rgb(255, 169, 241);
color: rgb(255, 169, 241);
text-shadow:
    3px 3px 0   rgb(241, 0, 177),
  -1px -1px 0   rgb(241, 0, 177),  
   1px -1px 0   rgb(241, 0, 177),
   -1px 1px 0   rgb(241, 0, 177),
    1px 1px 0   rgb(241, 0, 177);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 4px;
}
.mSub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.mood {
  padding: 10%;
  padding-left: 60%;
}
.mood2Wrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 33% 35%;
  margin-top: 20px;
}
.pageMood {
  margin-left: 20%;
}
.moodPics {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 35% 35% 35%;
  grid-template-columns: 95% 95% 95% 95% 95%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.love {
  transition: transform .2s;
  margin: 25px; auto;
}
.love:hover {
  transform:scale(2);
}


.sequenceTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   white;
-webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0    rgb(255, 169, 241),
  -1px -1px 0    rgb(255, 169, 241),  
   1px -1px 0    rgb(255, 169, 241),
   -1px 1px 0    rgb(255, 169, 241),
    1px 1px 0    rgb(255, 169, 241);
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  padding: 0.5%;
}
.sequenceDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

.sequenceWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 35% 35%;
}
.columnS {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnS2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowS::after {
  content: "";
  display: table;
  clear: both;
}
.sTitle {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   rgb(255, 169, 241);
-webkit-text-fill-color: rgb(255, 169, 241);
color: rgb(255, 169, 241);
text-shadow:
    3px 3px 0   rgb(241, 0, 177),
  -1px -1px 0   rgb(241, 0, 177),  
   1px -1px 0   rgb(241, 0, 177),
   -1px 1px 0   rgb(241, 0, 177),
    1px 1px 0   rgb(241, 0, 177);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 4px;
}
.sSub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.sequenceVideo {
  margin-left: 70%;
}


/*PHOTOGRAPHY*/
.parkTitle, .catsTitle, .lightsTitle, .blueTitle, .flowerTitle, .sunnyTitle, .campusTitle, .leveeTitle,
.foodTitle, .sheldonTitle {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:   white;
  -webkit-text-fill-color: white;
color: white;
text-shadow:
    3px 3px 0    rgb(255, 169, 241),
  -1px -1px 0    rgb(255, 169, 241),  
   1px -1px 0    rgb(255, 169, 241),
   -1px 1px 0    rgb(255, 169, 241),
    1px 1px 0    rgb(255, 169, 241);
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  padding: 0.5%;
}
.parkLocation, .catsLocation, .lightsLocation, .blueLocation, .flowerLocation, .sunnyLocation, .campusLocation,
.leveeLocation, .foodLocation, .sheldonLocation {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
}
.parkDate, .catsDate, .lightsDate, .blueDate, .flowerDate, .sunnyDate, .campusDate, .leveeDate, .foodDate, .sheldonDate {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
}
.sheldonSub {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  margin-right: 45%;
}





.photoBubble {
  padding: 2%;
  background-color: rgb(255, 169, 241);
  border-radius: 50%;
  width: 40%;
}
.photoTitle {
color: white;
font-family: 'Montserrat', sans-serif;
text-align: center;
}
 .sunny, .campus, .levee, .food, .sheldon {
  padding: 2%;
}
.parkWrapper {
  padding: 2%;
  margin-left: 5%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 100% 25% 25%;
}
.columnPark {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.columnPark2 {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.columnPark3 {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.rowPark::after {
  content: "";
  display: table;
  clear: both;
}
.catsWrapper {
  padding: 2%;
  margin-left: 250px;
}
.columnCats {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnCats {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: auto;
}
.columnCats2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowCats::after {
  content: "";
  display: table;
  clear: both;
}
.lightsWrapper {
  padding: 2%;
  margin-left: 10%;
}
.blueWrapper {
  padding: 2%;
  margin-left: 15%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 75% 25%;
}
.columnBlue {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnBlue2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowBlue::after {
  content: "";
  display: table;
  clear: both;
}
.sunnyWrapper {
  padding: 2%;
  margin-left: 350px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 125% 25%;
}
.columnSunny {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.rowSunny::after {
  content: "";
  display: table;
  clear: both;
}
.sunnyGallery1, .sunnyGallery2 {
display: grid;
grid-gap: 5px;
grid-template-columns: auto auto;
}
.sunnyGallery3 {
  padding: 2%;
  margin-left: 50%;
}
.lightsGallery1, .leveeGallery1 {
  padding: 2%;
  margin-left: 6%;
}
.boGallery1, .foodGallery1 {
  padding: 2%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
}
.flowersGallery1 {
  padding: 1%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
}
.campusGallery1 {
  padding: 2%;
  margin-left: 15%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
}
.campusGallery2 {
  padding: 2%;
  margin-left: 3%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
}
.sheldonGallery1 {
  padding: 2%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto;
}
.sheldonGallery2 {
  padding: 2%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
}


/*TYPOGRAPHY*/
.nomenGallery, .paulGallery {
  padding: 2%;
}
.nomenTitle, .paulTitle {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:   white;
  -webkit-text-fill-color: white;
  color: white;
  text-shadow:
      3px 3px 0    rgb(255, 169, 241),
    -1px -1px 0    rgb(255, 169, 241),  
     1px -1px 0    rgb(255, 169, 241),
     -1px 1px 0    rgb(255, 169, 241),
      1px 1px 0    rgb(255, 169, 241);
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    padding: 0.5%;
}
.nomenDate, .paulDate {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-bottom: 20px;
}

.nomenWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 35% 35%;
  margin-top: 20px;
}
.columnNo {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnNo2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowNo::after {
  content: "";
  display: table;
  clear: both;
}
.noTitle {
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color:   rgb(255, 169, 241);
-webkit-text-fill-color: rgb(255, 169, 241);
color: rgb(255, 169, 241);
text-shadow:
    3px 3px 0   rgb(241, 0, 177),
  -1px -1px 0   rgb(241, 0, 177),  
   1px -1px 0   rgb(241, 0, 177),
   -1px 1px 0   rgb(241, 0, 177),
    1px 1px 0   rgb(241, 0, 177);
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  padding-bottom: 4px;
}
.noSub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.nomen {
  padding: 10%;
  margin-left: 300%;
}

.paulWrapper {
  -webkit-text-size-adjust: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 35% 35%;
  margin-top: 20px;
}
.columnPa {
  float: left;
  width: 50%;
  padding: 10px;
}
.columnPa2 {
  float: left;
  width: 50%;
  padding: 10px;
}
.rowPa::after {
  content: "";
  display: table;
  clear: both;
}
.paTitle {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:   rgb(255, 169, 241);
  -webkit-text-fill-color: rgb(255, 169, 241);
  color: rgb(255, 169, 241);
  text-shadow:
      3px 3px 0   rgb(241, 0, 177),
    -1px -1px 0   rgb(241, 0, 177),  
     1px -1px 0   rgb(241, 0, 177),
     -1px 1px 0   rgb(241, 0, 177),
      1px 1px 0   rgb(241, 0, 177);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-bottom: 4px;
}
.paSub {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.paul {
  padding: 10%;
  margin-left: 300%;
}

.pageNomen, .pagePaul {
  padding: 2%;
}
.nomenMain, .paulMain {
  color:rgb(255, 169, 241);
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin-right: 50%;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 20px;
}
.nomenMain2, .paulMain2 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 0.5%;
  margin-right: 55%;
}
.nomenPages, .paulPages {
text-align: center;
}
/**/